footer li{
    list-style: none;
    margin: 0.3rem 0rem;
    font-size: 1.04rem;
  }
  footer{
    background-color: black;
    padding-top: 2.5rem ;
    padding-bottom: 4rem ;
   
  }
  footer h2{
    margin-bottom: 0.3rem;
    font-size: 1.4rem;
  }
  footer .footer-menu{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    color: white;
  }
  footer ul{
    padding-left: 0rem;
  }
  footer ul .img{
    width: 1.7rem;
    height: 1.7rem;
    margin: 0.6rem 0rem;
    margin-right:0.5rem ;
  }
  footer .sm-links{
    display: flex;
    align-items: center;
  }
  @media (max-width:795px) {
    footer h2{
        font-size: 1.4rem;
    }
    footer li{
        font-size: 1rem;
    }
  }
  @media (max-width:745px) {
    footer .footer-menu{
        flex-wrap: wrap;
    }
    footer .page-section,
    footer .page-programs,
    footer .page-tv,
    footer .page-apps,
    footer .page-abbout{
        margin: 3rem;
    }
    footer{
        padding: 2rem;
    }
}
@media (max-width:505px) {
    footer .page-section,
    footer .page-programs,
    footer .page-tv,
    footer .page-apps,
    footer .page-abbout{
        margin: 2rem;
    }
    footer{
        padding: 2rem 1rem;
    }
}
@media (max-width:411px) {
    footer .page-section,
    footer .page-programs,
    footer .page-tv,
    footer .page-apps,
    footer .page-abbout{
        margin: 1rem;
    }
    footer{
        padding: 2rem 0rem;
    }
    footer h2{
        font-size: 1.2rem;
    }
    footer li{
        font-size: 0.85rem;
      }
      footer .sm-links .img{
        width: 1.25rem;
        height: 1.25rem;
      }
}