/*nav */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 1rem;
    border-bottom: 1px solid #d5d4d4;
}

nav ul {
    margin-left: auto;
    margin-top: 0.18rem;
    display: flex;
}

nav li a:hover {
    color: blue;
}

nav li {
    list-style: none;
    padding: 0px 2rem;
    font-size: 1.1rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.News nav .h1 h1 {
    font-size: 2rem !important;
    font-weight: bolder;
    font-family: Geneva, Verdana, sans-serif;
}

.News nav .h1 {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 1rem;
}

.menu {
    height: 1.9rem;
    width: 1.69rem;
    padding: 0.1rem;
    cursor: pointer;
    display: none;
}

/* filter */
.dropdown {
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.dropdown #dropdownOptn {
    border: none;
    width: 3rem;
    border: 1px solid #d5d4d4;
    min-width: 3rem;
}

.dropdown #dropdownBtn {
    border: none;
    padding: 0rem;
    width: fit-content;
    height: fit-content;
    background-color: white;
}

.dropdown .img {
    width: 2.3rem;
    height: 2.3rem;
    cursor: pointer;
    margin: auto;
    padding: 0.3rem;
}

.noResult {
    text-align: center;
    margin: 6rem 0rem;
    margin-bottom: 14rem;
}

/* search */
.search {
    width: 50%;
    cursor: pointer;
    margin: auto;
}

.search input:focus {
    background-color: rgb(239, 239, 245);
    border: 1px solid #d5d4d4;

}

.search input {
    width: 85%;
    padding: 0.6rem 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.2rem 0rem 0rem 0.2rem;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    border: 1px solid #d5d4d4;
    margin: 1rem 0rem;
}

.search button {
    border: none;
    outline: none;
    padding: 0.65rem 0rem;
    border-radius: 0rem 0.2rem 0.2rem 0rem;
    width: 15%;
    font-size: 1rem;
    font-weight: bolder;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.LoadingAnimation div {
    animation: Bounce 1.9s 22 both;
}

.LoadingAnimation {
    padding-top: 5rem;
    padding-bottom: 14rem;
}

.LoadingAnimation .one {
    animation-delay: -0.3s;
    width: 6rem;
    border: 7px solid white;
    border-top: 7px solid blue;
    margin: auto;
    border-radius: 50%;
    height: 6rem;
    padding-top: 0.35rem;
}

.LoadingAnimation .two {
    animation-delay: -0.15s;
    width: 4.5rem;
    border: 7px solid white;
    border-top: 7px solid blue;
    margin: auto;
    border-radius: 50%;
    height: 4.5rem;
    padding-top: 0.35rem;
}

.LoadingAnimation .three {
    width: 3rem;
    border: 7px solid white;
    border-top: 7px solid blue;
    margin: auto;
    border-radius: 50%;
    height: 3rem;
}

@keyframes Bounce {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.news {
    margin: 2rem 1.5rem;
    width: 18rem;
    height: fit-content;
    color: black;
}

.newsContainer {
    margin-top: 2.4rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

img {
    width: 100%;
    height: 100%;
}

.news .title h3 {
    font-size: 1.08rem;
}

.news .source {
    text-align: end;
    margin-top: 1rem;
    font-size: 0.7rem;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

.news .img {
    width: 100%;
    height: 11rem;
    background-color: white;
    margin-bottom: 0.5rem;
}

.news .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 0.2rem;
}

.news .time {
    display: flex;
    align-items: center;
}

.news .time .img {
    width: 0.7rem;
    height: 0.7rem;
    margin-top: -11px;
    margin-right: 0.1rem;
}

.pagination {
    margin: 2.5rem;
    display: flex;
    justify-content: center;
}

.pagination button:hover {
    background-color: rgb(49, 49, 245);
}

.pagination button {
    border: none;
    outline: none;
    border-radius: 0.25rem;
    margin: 0rem 0.4rem;
    font-size: 1rem;
    padding: 0.25rem 0.6rem;
    font-weight: bolder;
    background-color: blue;
    color: white;
    cursor: pointer;
}

/* loadmore btn animation */
.round {
    width: 1.5rem;
    height: 1.5rem;
    border: 3px solid white;
    border-top: 3px solid blue;
    margin: auto;
    border-radius: 50%;
    animation: round 395ms infinite both;
}

@keyframes round {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(70deg);
    }

    40% {
        transform: rotate(120deg);
    }

    60% {
        transform: rotate(220deg);
    }

    80% {
        transform: rotate(290deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* style to display menu */
.hamburgermenu {
    position: absolute;
    left: 0%;
    width: 100%;
    height: 100vh;
    transition: 1s;
}

@media (max-width:1255px) {
    nav li {
        padding: 0px 1.4rem;
    }
}

@media (max-width:1087px) {
    .search {
        width: 70%;
    }
}

@media (max-width:1052px) {
    nav li {
        padding: 0px 1.2rem;
    }

    nav h1 {
        margin-left: 0rem;
    }
}

@media (max-width:1009px) {
    .news {
        margin: 1rem;
    }
}

@media (max-width:964px) {
    .news {
        width: 16rem;
        margin: 1rem 0.5rem;
    }

    nav li {
        padding: 0px 0.8rem;
    }
}

@media (max-width:912px) {
    .search {
        width: 75%;
    }

    .search input {
        width: 80%;
    }

    .search button {
        width: 20%;
    }

    .news {
        width: 18rem;
        margin: 1rem 1.5rem;
    }
}

@media (max-width:874px) {
    nav li {
        padding: 0px 0.5rem;
    }
}

@media (max-width:795px) {
    .menu {
        margin-top: -1rem;
        display: block;
        margin-right: 1rem;
    }

    nav {
        padding-top: 1rem;
        padding-bottom: 0rem;
    }

    nav ul {
        position: absolute;
        transition: 1s;
        top: 4.6rem;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding: 0rem;
        padding-bottom: 3rem;
        display: block;
        text-align: center;
        background-color: white;
        left: -100%;
        z-index: 5;
    }

    nav li {
        margin: 3rem;
    }

    .news {
        width: 90%;
        margin: auto;
        padding: 1.5rem 0rem;
        border-bottom: 1px solid rgb(224, 220, 220);
    }

    .news .title h3 {
        font-size: 1.3rem;
    }

    .news a {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .news .info {
        padding: 0rem 0.35rem;
        width: 100%;
    }

    .newsContainer {
        display: block;
    }

    .news .time .img {
        margin-top: -17px;
    }

    .news .wrapper {
        padding: 0rem;
    }

    .news .img {
        width: 85%;
        height: 11rem;
        margin-bottom: 0rem;
    }


}


@media (max-width:675px) {
    .news .img {
        width: 75%;
    }

    .news .info {
        width: 100%;
    }
}

@media (max-width:580px) {
    .search {
        width: 80%;
    }

    .search input {
        width: 75%;
    }

    .search button {
        width: 25%;
    }
}

@media (max-width:541px) {
    .news .title h3 {
        font-size: 1.23rem;
    }

    nav {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .news .img {
        height: 10rem;
    }

    .news {
        padding: 1rem 0rem;
    }
}

@media (max-width:431px) {
    .news .title h3 {
        font-size: 1.1rem;
    }

    .news .img {
        height: 9rem;
    }

    .news .time {
        margin: 0rem;
        margin-right: auto;
    }

    .news .source {
        margin-top: 0rem;
    }

    .news .time .img {
        margin-top: -30px;
    }

    .news .wrapper {
        flex-direction: column;
        width: fit-content;
        height: min-content;
    }
}

@media (max-width:416px) {
    .search {
        width: 85%;
    }

    .search input {
        width: 70%;
    }

    .search button {
        width: 30%;
    }
}

@media (max-width:399px) {
    .news .title h3 {
        font-size: 1rem;
    }

    .news .img {
        height: 8rem;
    }
}

@media (max-width:359px) {
    .news .title h3 {
        font-size: 0.95rem;
    }

    .news {
        width: 95%;
    }

    .news .img {
        height: 7rem;
    }
}
