.filterWrapper {
  margin-left: 1rem;
  margin-top: 1rem;
}

.Search .selected p {
  width: fit-content;
  height: fit-content;
  padding: 0.3rem;
}

.block {
  visibility: visible !important;
}

.Search .filterOptions {
  width: 4.3rem;
  height: 1.5rem;
}

.Search .filterOptions p:hover {
  background-color: #f1f1f1 !important;
}

.Search .filterOptions p {
  padding: 0.1rem;
  margin-bottom: 0.13rem;
  cursor: pointer;
  text-align: center;
}

.search input:focus {
  background-color: rgb(248, 248, 248);
  border: 1px solid #d5d4d4;

}
